<center>
<img src="https://www.iybssd2022.org/wp-content/uploads/ASAQ.jpg" width="150"/> 
</center>

        
<center>
<h1><font color= "blue" size="+2">ASAQ Python Data Analysis Courses</font></h1>
</center>

---

<center><h1><font color="blue" size="+2">Reading a Sample File</font></h1></center>

## <font color="red">Objectives</font>

In this presentation, we want to accomplish the following tasks:

- Read an Excel file.
- Inspect the row and columns
- Generate basic statistics on the columns
- Access specific rows and/or columns.
- Perform basic plots.

## <font color="red">Required modules/packages</font>

- __Pandas__: Provides data structures and tools for data wrangling, cleaning, analysis, and visualization.
- __Skimpy__: A light weight tool for creating summary statistics from dataframes.

In [ ]:
try:
    import google.colab
    print("Running in Google Colab")
except:
    print("Not running in Google Colab")
else:
    print("Installing modules in Google Colab")
    !pip install skimpy

In [ ]:
import warnings
warnings.filterwarnings("ignore")

In [ ]:
import sys

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
import skimpy

In [ ]:
import pandas as pd

In [ ]:
print(f"System info: {sys.version}")

In [ ]:
print(f"Pandas version: {pd.__version__}")

Set the maximum number of rows to display.

In [ ]:
pd.set_option('display.max_rows', 6)

## <font color="red">More on Pandas</font>

Pandas is extensively used for:

- __Data Cleaning__: Handling missing values, duplications, and incorrect data formats.
- __Data Manipulation__: Filtering, transforming, and merging datasets.
- __Data Analysis__: Performing statistical analysis and aggregations.
- __Data Visualization__: Creating plots and charts to visualize data trends and patterns.
- __Time Series Analysis__: Handling and manipulating time series data.

Some of the file formats that can be read by Pandas are:

- CSV (`read_csv()` function)
- Excel (`read_excel()` function)
- JSON (`read_json()` function)

## <font color="red">Data Access</font>

We want to read an Excel file:

In [ ]:
file_name = "L2-01-08-2023evening.xlsx"
data_url = f"https://github.com/JulesKouatchou/asaq_py/raw/main/sample_data/{file_name}"
#data_url = f"../sample_data/{file_name}"

### <font color="blue">Read the file</font>

- We use `Pandas` to read the sheet `Feuil1` of an Excel file.
- We obtain a `DataFrame` that is seen as data organized in labeled rows and columns.
  - Each row is a considered as a data point.
  - Each column can be seen for instance as a the set of latitudes or measurements of a specific field.
     - All the values of a given column are of the same data type (integer, float, boolean)
     - Each colunm is in fact a `NumPy` array.
- A `DataFrame` is a collection of one-dimensional `NumPy` arrays.

In [ ]:
df = pd.read_excel(data_url, sheet_name="Feuil1")

To check the data type of the object `df`:

In [ ]:
type(df)

- We see that we have a Pandas DataFrame (two dimensional data structure where the columns and rows are labelled).
- We can print the (partial) content of `df`.

In [ ]:
df

#### Quick observations
- There are 27 labeled columns
   - The first two columns appear to be related to the time and seem to have the  same values.
   - Three columns contain the latitude, longitude and altitude information.
   - On column has the speed.
   - The remaining columns have measurement related data
- There are 4732 rows (data points)
   - Each row has an index, 0 to 4732
   - Each data point consists of 27 values.

### <font color="blue"> Inspecting data in DataFrame</font>

Display the first few rows:

In [ ]:
df.head()

In [ ]:
df.head(2)

Display the last few rows:

In [ ]:
df.tail()

In [ ]:
df.tail(2)

Display radomn rows:

In [ ]:
df.sample(5)

Get the number of rows and columns as a tuple:

In [ ]:
df.shape

Get the type of each column:

In [ ]:
df.dtypes

Get list of column names:

In [ ]:
df.columns

Get the index values:

In [ ]:
df.index

### <font color="blue"> Obtain basic data information</font>
We can get the column count, number of values in each column, data type of each column, etc.:

In [ ]:
df.info()

__Quick Observations__

- All columns have the same number of entries.
- It seems that there is no missing values in any row or column.

### <font color="blue"> Checking if the is any missing values or `NaN`</font>

In [ ]:
df.isnull().sum()

In [ ]:
df.isna().sum()

__Quick observations__

- There are no missing values and no `NaN`.

### <font color="blue"> Obtain descriptive statistics of each numeric column</font>

The `describe()` function provides basic statistics on columns with numerical values:

In [ ]:
df.describe().T

We can use the `Skimpy` module to obtaing additional information:

In [ ]:
skimpy.skim(df)

__Quick observations__

- The fields `PM0.5`, `PM1`, `PM5`, etc. appear to have outliers: see how the number of standard deviation the maximum value is away for the mean.

### <font color="blue"> Slicing data </font>

Get specific column(s):

In [ ]:
df['lat']

In [ ]:
df.lat

In [ ]:
df[["lng", "lat"]]

### <font color="blue"> Select specific row(s)</font>

Get specific row(s) by position(s):

In [ ]:
df.iloc[2]

In [ ]:
df.iloc[1:4]

Get specific row(s) and column(s) by position(s):

In [ ]:
df.iloc[[2,4], [1,3]]

### <font color="blue">Basic plots</font>

In [ ]:
df.plot(x="lng", y="lat", figsize=(9,7));

In [ ]:
df['PM2.5'].plot(figsize=(9,7));

In [ ]:
df.plot(x="lng", y="PM2.5", figsize=(9,7));

In [ ]:
df.plot(x="lat", y="PM2.5", figsize=(9,7));

In [ ]:
df.plot(x="PM0.5", y="PM2.5", figsize=(9,7));