<center>
<img src="https://www.iybssd2022.org/wp-content/uploads/ASAQ.jpg" width="150"/> 
</center>

        
<center>
<h1><font color= "blue" size="+2">ASAQ Python Data Analysis Courses</font></h1>
</center>

---

<center><h1><font color="blue" size="+2">Data Conversion</font></h1></center>

## <font color="red">Objectives</font>

We want to:

- Read an Excel file.
- Perform data conversion (for the time)
- Perform filtering
- Do time series plots.

## <font color="red">Required modules/packages</font>

- __Pandas__: Provides data structures and tools for data wrangling, cleaning, analysis, and visualization.
- __Skimpy__: A light weight tool for creating summary statistics from dataframes.

In [ ]:
try:
    import google.colab
    print("Running in Google Colab")
except:
    print("Not running in Google Colab")
else:
    print("Installing modules in Google Colab")
    #!pip install skimpy pandas

In [ ]:
import warnings
warnings.filterwarnings("ignore")

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
import pandas as pd

In [ ]:
print(f"Pandas version: {pd.__version__}")

In [ ]:
pd.set_option('display.max_rows', 6)

## <font color="red">Data Access</font>

File name:

In [ ]:
file_name = "L2-01-08-2023evening.xlsx"
data_url = f"https://github.com/JulesKouatchou/asaq_py/raw/main/sample_data/{file_name}"
#data_url = f"../sample_data/{file_name}"

### <font color="blue">Read the file</font>

In [ ]:
df = pd.read_excel(data_url, sheet_name="Feuil1")

In [ ]:
df

#### Quick observations
- There are 27 labeled columns
   - The first two columns appear to be related to the time and seem to have the same values.
   - Three columns contain the latitude, longitude and altitude information.
   - On column has the speed.
   - The remaining columns have measurement related data
- There are 4732 rows (data points)
   - Each row has an index, 0 to 4732
   - Each data point consists of 27 values.

In [ ]:
df.info()

### <font color="blue">Conversion of the time</font>

- Note that the columns _datetime_ and _time_ have the same values that refer to the time (when the measurements were done) in the format `HH:MM:SS`.
- We are dealing here with time series data.
- When we deal with such data, it is important that the date/time values are converted into Python `datetime` objects.

We do the following:

- Transform values of the _time_ column into a Python `datetime` objects.
- Rename the column to _t_.

In [ ]:
df['t'] = pd.to_datetime(df['time'])
df

In [ ]:
df.info()

We can remove the column _datetime_ and _time_:

In [ ]:
df = df.drop(columns=['datetime', 'time'])
df

### <font color="blue">Setting the column `t` as index</font>

- When dealing with time series data, it is good practice to set the column with date/time (as a datetime object) as index.
- This facilitate the data manipulation and visualization.

In [ ]:
df.set_index('t', inplace=True)
df

### <font color="blue">Determine if there is any row duplication</font>

In [ ]:
df.duplicated()

In [ ]:
df.duplicated().sum()

__Quick observations__

- There are no duplicated rows.
- We noted before that there were no missing values or `NaN`.
- There is no need to delete any row or column.

### <font color="blue"> Filtering data</font>

We can select the portion of the data where the values of `CO2` are greater than 750:

In [ ]:
df_CO2_750 = df[df.CO2 > 750]

In [ ]:
df_CO2_750

We can select the portion of the data where `CO2` is equal to 507 and `PM1` is greater than 10:

In [ ]:
df_CO2_PM1 = df[(df.CO2 == 507) & (df.PM1 > 10)]

In [ ]:
df_CO2_PM1

### <font color="blue">Timeseries plots</font>

In [ ]:
df["lat"].plot()

In [ ]:
df["CO2"].plot()

Only plot the values between `05:17:20` and `05:18:00`.

In [ ]:
df.CO2[5-17-20:5-18-0].plot()

In [ ]:
df[["CO2", "RH", "PM1"]][5-17-20:5-18-0].plot(subplots=True)